
.news-item {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-bottom: 8px;
}
.activeLink{
    color: rgb(3, 96, 97);
}

body {
    height: 100%;
    line-height: 1.6;
    overflow: hidden; 
}

.main-wrapper {
    display: flex;
    height: 100vh;
    direction: rtl;
}

#newsTitels {
    flex: 1;
    overflow-y: auto;
    direction: ltr; 
}
#newsTitels > * {
    direction: rtl;
    text-align: right;
}

#postContent {
    flex: 2;
    overflow-y: auto; 
    padding: 20px;
}
