body {
    line-height: 1.6;
}

.news-item {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin-bottom: 8px;
}
.activeLink{
    color: rgb(3, 96, 97);
}
#postContent {
    position: sticky;
    top: 20px;
    align-self: flex-start;
}